body {
    color: white;
    background-color: #000000;
}
h1 {
    font-family: Arial,Helvetica,sans-serif;
    text-align: center;
}
html, body {
    display: block;
}
body {
    display: block;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}
#story {
    font-family: "helvetica", "arial", sans-serif;
    margin-top: 40px;
}
#hublink {
    color: #555;
    font-size: 70%;
}
#canvas {
    border-style: solid;
    border-width: 1px;
    border-color: #555;
}
